*{
    background-color: powderblue;
    


}
.links{ 
    margin: 0 0 0 50px;
    padding-left: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;

}



a{
    margin: 10px;
    font-size: 22px;
    text-decoration: none;
    font-weight: 500;


}
a:hover{
    color: peru;
}
