@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');


.links{ 
    width: 80%;
    margin: 0 ;
    color:#ffffff;
    padding-left: 50px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.links:hover {
    background-color: #443434;
}



a{
    margin: 10px;
    font-size: 22px;
    text-decoration: none;
    font-weight: 500;
    color: white;
    font-family: 'Permanent Marker', cursive ;
    


}
a:hover{
    color: peru;
}
.links {
    letter-spacing: 1.5px;
    flex-wrap: wrap;
    padding-right: 30px;
    display: flex;
    width: 100%;
    font-weight: 900;
    max-height: 50px;
    color: rgb(0, 0, 0);
    position: fixed;
    z-index: 1;
}


/* nav .header_title {
    padding-top: 8px;
    padding-left: 60px;
}

.nav_list {
    gap: 35px;
    padding: 15px;
    display: flex;
    margin-left: 30px;
    color: white;
    list-style-type: none;
    justify-content: flex-end;


} */

       
Link{
    text-decoration: none;
    color: #000000;
    transition: 0.3s;
    color: white;
}


/* nav .nav-list a:hover {
    color: rgb(208, 9, 9);
    transition: 0.3s;
} */

/* Header / Drop */
/* .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    background-color: #2b2c2d;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    transition: 0.3s;
} */
/* 
.dropdown:hover {
    color: rgb(208, 9, 9);
    cursor: pointer;
    transition: 0.3s;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    transition: 0.3s;
}

.dropdown:hover .dropdown-content {
    display: block;
    transition: 0.3s;
}
 */
